

body{
    background: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    width: 1200px;
    margin: 0px auto;
    border: 1px solid red;


}

header{
    background:rgba(187, 236, 183, 0.76);
    width: 100%;
    height:100px;
    text-align:left;

    border-bottom: 3px dashed green;
    float: left;
}

a{
    vertical-align: middle;
}

.pagina{
    color:black;
    font-size: 20px;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-left: 400px;
    padding-right:50px;
}

.logout{
    color:black;
    font-size: 20px;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-right:65px;
}

.fs-4{
    color:black;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

#footer{
    background-color: #c0c0c0;
    color: #000033;
   }

 nav{
    /*background: lightblue;*/
    /*height:100px;*/
    border: 1px solid black;

}
   
nav ul li{
    float:left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    text-align: right;
}

.clearfix{
    clear:both;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;

}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}


.article h2{
    font-size: 25px;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

#content{
    float:left;
    width:calc(20%-20px);
    min-height: 520px;
    background: #233C2A;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    
}

#content h2{

    font-family: Archivo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

}

aside{
  float:left;
  width: 79.5%;
  background:white;
  min-height: 500px;
  padding-left: 10px;
  padding-right:10px;
  padding-top: 40px;
  border: 1px solid grey;
}

.form-label{
    text-align: center;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-left: 250px;
}

.form-label1{
    text-align: center;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-left: 205px;
}

.form-label2{
    text-align: center;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-left: 270px;
}

.form-label3{
    text-align: center;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding-left: 175px;
}


.form-control{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
     /* IMPORTANTE */
    text-align: center;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


footer{
    background: rgba(187, 236, 183, 0.76);
    color:black;
    height: 50px;
    line-height: 50px;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.rounded-pill{
    border-radius: 50rem!important;
}

.font-weight-bold{
    font-weight: 700!important;
}

.p-3{
    padding: 1rem!important;
}

.btn-lg{
    font-size: 1.25rem;
}

.btn-warning{
    color:black;
    background-color:  rgba(187, 236, 183, 0.76);
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: 500px;
}
