.espacioLados {
    padding-top: 19px;
    padding-right: 30px;
}
.margen {
    margin: 30px;
}
.bloqueIzq{
    width: 100%;
    max-width: 210px;
    transition: top 0.25s;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.bloqueDer{
    display:block;
    align-self: flex-end;
}
.fondo{
    background-color: blue;
}